# Entorno virtual de Python
.venv/
venv/
*.venv

# Archivo de variables de entorno
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivo de estado del bot
last_anime_id.txt

# Configuraciones de IDE y editores
.vscode/
.idea/
